p { 
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: black;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}